@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var item in Model)
{
    <div class="card w-100 shadow-lg mb-4">
        <div class="card-body">
            <h5 class="card-title">@item.title</h5>
            <p class="card-text">@item.description</p>
            <p class="card-text">@item.created_at</p>
            <a href="#" class="btn btn-primary">Подробнее</a>
        </div>
    </div>
}